$col-width : 300px;
$col-height : 60px;
$maincolor: #66cccc;
$H-font-color: #ffffff;

* {
  padding: 0;
  margin: 0;
}
body{
  min-height:100%;
  min-width: 100%;
  position:absolute;
}

.header{
  height: 100px;
  background-color: $maincolor;
  width: 100%;
}

.context{
  padding-bottom: 80px;
}
/**
 * 使用position & bottom方法使页脚自适应在页面最底部
 * http://blog.csdn.net/inuyasha1121/article/details/50787152
 */
.footer{
  height: 80px;
  background-color: $maincolor;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
/**
 * 未解决自适应问题
 * 相关组件 logo & nav
 */
.row{
  height: $col-height;
  margin: 20px 30px;
  position: relative;

  .col-logo{
    position: absolute;
    margin: 10px 10px;
    width: $col-width - 20px;
    height: $col-height - 20px;

    a{
      text-decoration: none;

      p{
        font-size: 32px;
        color: $H-font-color;
        text-align: center;
        padding-right: 10px;
      }
    }
  }

  .col-nav{
    position: relative;
    float: right;
    margin: 10px 10px;
    width: 1190px - $col-width - 20px;
    height: $col-height - 20px;

    ul{
      list-style-type: none;
      height: 30px;
      margin-top: 10px;
      margin-left: 350px;
      li{
        text-align: center;
      }

      a{
        float: left;
        text-decoration: none;
        font-size: 18px;
        margin: 0px 15px;
        color: $H-font-color;
        position: relative;

        &:before{
          content: "";
          position: absolute;
          left: 50%;
          bottom: -5px;
          width: 0;
          height: 2px;
          background: #ffffff;
          transition: all .3s;
        }

        &:hover:before{
          width: 100%;
          left: 0;
          right: 0;
        }
      }
    }
  }
}

.footer-text-box{
  margin: 0px auto;
  margin-top: 15px;

  p{
    color: $H-font-color;
    text-align: center;
  }
}
