$col-width : 300px;
$col-height : 60px;
$maincolor: #66cccc;
$H-font-color: #ffffff;

* {
  padding: 0;
  margin: 0;
}

.header{
  height: 100px;
  background-color: $maincolor;
}

/**
 * 未解决自适应问题
 * 相关组件 logo & nav
 */
.row{
  height: $col-height;
  margin: 20px 30px;
  position: relative;

  .col-logo{
    position: absolute;
    margin: 10px 10px;
    width: $col-width - 20px;
    height: $col-height - 20px;

    a{
      text-decoration: none;

      p{
        font-size: 32px;
        color: $H-font-color;
        text-align: center;
        padding-right: 10px;
      }
    }
  }

  .col-nav{
    position: relative;
    float: right;
    margin: 10px 10px;
    width: 1190px - $col-width - 20px;
    height: $col-height - 20px;

    ul{
      list-style-type: none;
      height: 30px;
      margin-top: 10px;
      margin-left: 350px;
      li{
        text-align: center;
      }

      a{
        float: left;
        text-decoration: none;
        font-size: 18px;
        margin: 0px 15px;
        color: $H-font-color;
        // border-bottom: 2px solid $H-font-color;
      }
    }

  }
}
