@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  min-height: 100%;
  min-width: 100%;
  position: absolute; }

.header {
  height: 100px;
  background-color: #66cccc;
  width: 100%; }

.context {
  padding-bottom: 80px; }

/**
 * 使用position & bottom方法使页脚自适应在页面最底部
 * http://blog.csdn.net/inuyasha1121/article/details/50787152
 */
.footer {
  height: 80px;
  background-color: #66cccc;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center; }

/**
 * 未解决自适应问题
 * 相关组件 logo & nav
 */
.row {
  height: 60px;
  margin: 20px 30px;
  position: relative; }
  .row .col-logo {
    position: absolute;
    margin: 10px 10px;
    width: 280px;
    height: 40px; }
    .row .col-logo a {
      text-decoration: none; }
      .row .col-logo a p {
        font-size: 32px;
        color: #ffffff;
        text-align: center;
        padding-right: 10px; }
  .row .col-nav {
    position: relative;
    float: right;
    margin: 10px 10px;
    width: 870px;
    height: 40px; }
    .row .col-nav ul {
      list-style-type: none;
      height: 30px;
      margin-top: 10px;
      margin-left: 350px; }
      .row .col-nav ul li {
        text-align: center; }
      .row .col-nav ul a {
        float: left;
        text-decoration: none;
        font-size: 18px;
        margin: 0px 15px;
        color: #ffffff;
        position: relative; }
        .row .col-nav ul a:before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -5px;
          width: 0;
          height: 2px;
          background: #ffffff;
          transition: all .3s; }
        .row .col-nav ul a:hover:before {
          width: 100%;
          left: 0;
          right: 0; }

.footer-text-box {
  margin: 0px auto;
  margin-top: 15px; }
  .footer-text-box p {
    color: #ffffff;
    text-align: center; }
