/*-------变量---------*/


/*-------样式---------*/
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #f6f6f6;
}
.logo-search{
  margin-top: 17px;
  margin-bottom: 15px;
}
.container{
  padding: 0px 10px;
}

.row{
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow:  hidden;
}
.col{
  margin-right: 1%;
  float: left;
}
.logo{
  width: 61.6%;
  a, h1{
    width: 258px;
    height: 39px;
    display: block;
  }

  h1{
    background-image: url(../src/runoob-logo.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin-left: 20px;
    margin-top: 10px;
  }
}
a{
  text-decoration: none;
}
/*搜索框*/
.search{
  text-align: right;
  width: 36%;
  form{
    text-align: center;
    background: #eeefed;
    padding: 5px;
    margin: 5px 0 0 0;
    border-radius: 3px;
  }
  input{
    height: 35px;
    width: 94%;
    line-height: 34px;
    padding: 0 3% 0 3%;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    font-weight: 400;
    font-size: 1.2em;
    text-align: initial;/*initial:保持原样*/
    white-space: nowrap;
    color: #ccc;
    outline: none;
    &:focus{
      color: #333;
      opacity: .8;
    }
  }
}
/*导航栏*/
.navigation{
  background-color: #cc6699;
  padding: 0px 10px;
  ul{
    list-style-type: none;
    // line-height: 1.5em;
    white-space: nowrap;
  }
  li{
    float: left;
    margin: 0 20px 0 0;
    a{
      color: #fff;
      padding: 10px 0 10px 0;
      text-decoration: none;
    }
  }
}
.nav{
  padding: 10px 0 0 20px;
  height: 24px;
  font-size: 1.1em;
  width: 100%;
  float: left;
  text-transform: uppercase;
}
